<div class="container">
    <label class="label">
        @Label
    </label>
    <input class="input" value="@Value" @onchange="@((ChangeEventArgs e) => OnChange.InvokeAsync(e.Value.ToString()))" />
</div>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public EventCallback<string> OnChange { get; set; }

    private string Value { get; set; }
}