.card {
    border: 1px solid #e2e8f0;
    max-width: 20rem;
    box-sizing: border-box;
    padding: 24px 32px 32px 32px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}
