.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.details {
    color: #4a5568;
    font-size: 1rem;
}

.img {
    max-width: 100%;
    max-height: auto;
    margin-bottom: 8px;
    margin-top: 8px;
    display: block;
}

.footer {
    font-size: 0.75rem;
    margin-top: 16px;
    color: inherit;
}

.congrats {
    color: #48bb78;
    margin-bottom: 0.25rem;
}

.none {
    display: none;
}
